{% extends 'main/base.html' %}

{% block content %}

    <div class="jumbotron masthead">
  <div class="container">
    <h1>Computer Club</h1>
    <p>Confusing teachers since 2012</p>
    <ul class="masthead-links">
      <li><a href="http://github.com/pocon/Computer-Club">GitHub</a></li>
      <li><a href="http://sydgram.nsw.edu.au/">SGS</a></li>
      <li>Always Open Source</li>
    </ul>
  </div>
</div>
<div class="bs-docs-social">
  <div class="container">
    <ul class="bs-docs-social-buttons">
      <li>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=pocon&repo=Computer-Club&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
      </li>
      <li>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=pocon&repo=Computer-Club&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe>
      </li>
    </ul>
  </div>
</div>

<div class="container">

<!-- REMBER: Pass messages (from django.contrib import messages) to the response! -->
{% if messages %}
<p></p>
{% for message in messages %}
<div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
  <button type="button" class="close" data-dismiss="alert">x</button>
  <strong>{{ message.tags }}</strong> {{ message }}
</div>
{% endfor %}
{% endif %}

  <div class="marketing">

    <h1>Our Projects</h1>
    <p class="marketing-byline">From The Club Members</p>

    <div class="row-fluid">
      <div class="span6">
        <h2>Tutorials</h2>
        <p>The python tutorials are written by senior members of the club and are availiable for anyone to use. They include lessons, challenges, exersises and solutions.</p>
      </div>
      <div class="span6">
        <h2>Fixtures</h2>
        <p>The fixtures app is the first major project of the club. It sends notifications when sporting fixtures are posted online and alerts you if they are updated.</p>
      </div>
          </div>

  </div>

</div>

{% endblock %}
